environment:
  matrix:
    - nodejs_version: '7'
    - nodejs_version: '6'
    - nodejs_version: '4'
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm -g install npm@latest
  - npm install -g mocha
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
build: off
test_script:
  - node --version
  - npm --version
  - set SHELL=cmd.exe
  - set SHELL_EXECUTION_FLAG=/c
  - npm test
