# Continuous Integration
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-check:
    name: Pre-Check
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{ steps.pre-check.outputs.should_skip }}
    steps:
      - name: Check
        id: pre-check
        uses: fkirc/skip-duplicate-actions@v4
        continue-on-error: true

  lint-format:
    name: Lint & Format
    needs: pre-check
    if: needs.pre-check.outputs.should-skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup NPM cache
        uses: ./.github/actions/npm-cache

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format

  test:
    name: Test (Node ${{ matrix.node }} on ${{ matrix.os.name }})
    needs: pre-check
    if: needs.pre-check.outputs.should-skip != 'true'
    runs-on: ${{ matrix.os.version }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 12
          - 14
          - 16
          - 17
        os:
          - name: Ubuntu
            version: ubuntu-latest
          - name: Windows
            version: windows-latest
          - name: macOS
            version: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup NPM cache
        uses: ./.github/actions/npm-cache

      - name: Print versions
        run: |
          node --version
          npm --version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm test
        shell: bash
        env:
          SHELL: '/bin/bash'

      - name: Submit coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: Node.js ${{ matrix.node }} on ${{ matrix.os.name }}
          parallel: true

  coverage:
    name: Coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Finish coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
