name: Lint & Format

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Setup PNPM cache
        uses: ./.github/actions/setup-pnpm-cache

      - name: Install dependencies
        run: pnpm install && pnpm add --global concurrently

      - name: Lint & Format
        run: concurrently --prefix none --group "pnpm:lint" "pnpm:format"
