name: Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.ya?ml'
      - '!.github/workflows/test.yml'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.ya?ml'
      - '!.github/workflows/test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Node.js ${{ matrix.node }} on ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.version }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 12
          - 14
          - 16
          - 17
        os:
          - name: Windows
            version: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup NPM cache
        uses: ./.github/actions/setup-npm-cache

      - name: Install dependencies
        run: npm ci && npm install --global concurrently

      - name: Build & Test
        run: concurrently --prefix none --group "npm:build" "npm:test"

      - name: Submit coverage
        uses: coverallsapp/github-action@master
        continue-on-error: true
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: Node.js ${{ matrix.node }} on ${{ matrix.os.name }}
          parallel: true

  coverage:
    name: Coverage
    needs: test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Finish coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
